html{
    background-color: #000;
}
.pagina-consultar {
    padding: 50px;
    background-color: #000;

    table {
        width: 1200px;

        th {
            text-align: left;
            padding: 5px;
            color: aliceblue;
        }

        td {
            padding: 5px;
            border-top: 1px solid #000;
        }
    }
    
}


.titulo2{
    margin-left: 100px;
}

.buscarcliente{
    margin-top: 40px;
    margin-bottom: 50px;
}

.voltar{
    background-color: #000;
}

