.cabecalho{
display: flex;
flex-direction: row;
height: 10vh;
align-items: center;
background-color: black;
justify-content: space-around;





}

.logoempresa{

  height: 10vh;
  margin-right: 60vh;
  margin-left: 10vh;
}

p{
  color: white;
}

button{
  color: red;
}