*{
    box-sizing: border-box;
    margin: 0%;

}


.login-inteiro{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 97vh;
    align-items: center;

        
    .partedireita {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        justify-content:center;
        padding: 11111;
        padding-left:100px ;
        
    }



    .imagem{
        width: 40vh;
        margin-left: 30vh;
    }

    input {
        
        height: 5vh;
        border-radius: 2vh;
        

    }

}

.icons{
    width: 5vh;
    border-radius: 2vh;
}

.imageml{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 4vh;
}

.empresa{
    width: 40vh;
}

.botao{
    display: flex;
    flex-direction: column;
   gap: 20px;
   margin-top: 10px;

   .botaozera{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;


   }

}
.criar{
    margin-top: 10px ;
}

.doisbotoes{
    display: flex;
    flex-direction: column;

    .criarcontinha{
        color: black;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    
}

button{
    border-radius: 20px;
   padding: 5px 50px 5px 50px;
   box-shadow: 2px 3px 0px 0px grey;

}



.voltar{
 margin-bottom: 480px;
 margin-left: 10px;
}



.login-inteiro {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
