*{box-sizing: border-box;
background-color: black;}


.cabecalho{
display: flex;
flex-direction: row;
height: 20vh;
align-items: center;
background-color: black;
justify-content: space-around;
}

.logoempresa{

  height: 100%;
  margin-right: 60vh;
  margin-left: 10vh;
  width: 20vh;
}

p{
  color: white;
}

button{
  color: red;
  box-shadow: 2px,2px,2px,2px;
  border-radius: 20px;
  background-color: white;
  padding-top: 0%;
}

a{
  text-decoration: none;
}


.partebaixo{

  padding: 5vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 70vh;
 background-image:url('http://localhost:3000/assets/images/image.svg');
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
  color: white;
  
}
h2{
  color: white;
  
}
.imagemcarro{
  height: 50vh;
  width: 90vh;
  margin-right: 3vh;



}

.escrita{

flex-direction: column;
display: flex;
justify-content:center ;
height: 30vh;



}

.roda{
  font-size: 56px;
  color:red
  
  
}

.sobrenos{
  width: 10vh;
  height: 20vh;

}

.partesobrenos{
  display: flex;
  flex-direction: row;
  gap: 20vh;
}

.esquerda{
  position:absolute;
	left:100%;
	top:50%;
}

.cara{
  height: 20vh;
  width: 40vh;
}

.pt1{
  display: flex;
  flex-direction: row;
}
.pt2{
 display: flex;
 flex-direction: column;
}

